{% extends 'base.html.twig' %}

{% block content %}
{% set totalProduct = 0 %}
{% set totalPrice = 0 %}
<div class="row" style="width: 100%;">
    <div class="col-12 px-0">
        <h2>Mon panier</h2>
        <p>Retrouvez l'ensemble des produits que vous avez mis dans votre panier</p>
        <hr size="5" id="hr-tab-top">
    </div>
    <div class="row py-3">
        <div class="col-8">
            <strong>Produit</strong>
        </div>
        <div class="col-1">
            <strong>Quantité</strong>
        </div>
        <div class="col-2">
            <strong>Prix à l'unité</strong>
        </div>
        <div class="col-1">
            <strong>Total</strong>
        </div>
    </div>
    <hr size="4">
    {% for product in cart %}
    <div class="row">
        <div class="col-2">
            <img src="assets/Images/uploads/{{product.product.Image}}" alt="{{product.product.name}}" width="50%">
        </div>
        <div class="col-4">
            <h5>{{product.product.name}}</h5>
            <p>{{product.product.description}}</p>
        </div>
        <div class="col-2">
        </div>
        <div class="col-1">
            <p>{{product.quantity}}</p>
        </div>
        <div class="col-2">
            <p>{{product.product.price/100}}€</p>
        </div>
        <div class="col-1">
            <p>{{product.quantity * product.product.price / 100}}€</p>
        </div>
    </div>
    <hr size="4" color="grey">
    {% set totalPrice = totalPrice + product.quantity * product.product.price / 100 %}
    {% set totalProduct = totalProduct + product.quantity%}
    {% endfor %}
    <div class="row">
        <div class="col-9"></div>
        <div class="col-3">
            <strong>Nombre total d'articles :</strong>
            <small>{{totalProduct}}</small>
        </div>
    </div>
    <div class="row">
        <div class="col-8"></div>
        <div class="col-4">
            <strong>Total de mon panier en euros :</strong>
            <small>{{totalPrice}}€</small>
        </div>
    </div>
</div>
{% endblock %}
